<table ng-show="user.tipo=='med'" class="tableizer-table">
    <tr class="tableizer-firstrow">
        <th style="text-align:center; " colspan="2">Contratación voluntaria de la cobertura "B" o Potenciada</th>
        <th rowspan="11" style="background-color:transparent; border-bottom:1px solid transparent; border-top:1px solid transparent;">&nbsp;</th>
        <th style="text-align:center;" colspan="4">Costo de Prima Individual</th>
    </tr>
    <tr>
        
        <td rowspan="2">Suma asegurada determinada por el servidor público</td>
        <td rowspan="2">Marcar suma asegurada</td>
        <td style="text-align:center;">A</td>
        <td style="text-align:center;">B</td>
        <td rowspan="2">Pago anual total (A + IVA)</td>
        <td rowspan="2">Pago anual total (A + B + IVA)</td></tr>
 <tr>
	 <td>Pago Mensual por contratación de potenciación "B"</td>
	 <td>Pago mensual por contratación de entidades vinculadas</td></tr>
 <tr>
	 <td> MX$500,000.00 </td>
	 <td><input type="radio" ng-model="user.personal.suma" name="suma" value="500k"></td>
	 <td> MX$310.50 </td>
	 <td> MX$124.20 </td>
	 <td> MX$4,322.16 </td>
	 <td> MX$6,051.02 </td></tr>
 <tr>
	 <td> MX$250,000.00 </td>
	 <td><input type="radio" ng-model="user.personal.suma" name="suma" value="250k"></td>
	 <td> MX$265.50 </td>
	 <td> MX$102.60 </td>
	 <td> MX$3,570.48 </td>
	 <td> MX$4,998.67 </td></tr>
 <tr>
	 <td> MX$200,000.00 </td>
	 <td><input type="radio" ng-model="user.personal.suma" name="suma" value="200k"></td>
	 <td> MX$236.25 </td>
	 <td> MX$94.50 </td>
	 <td> MX$3,288.60</td>
	 <td> MX$4,646.04 </td></tr>
 <tr>
	 <td> MX$100,000.00 </td>
	 <td><input type="radio" ng-model="user.personal.suma" name="suma" value="100k"></td>
	 <td> MX$209.25 </td>
	 <td> MX$83.70 </td>
	 <td> MX$2,912.76 </td>
	 <td> MX$4,077.86 </td>
 </tr>

</table>